.right-image {
    float: right;
    width: 30%;
}

.whole-post {
    display: none;
}

.answer {
    display: none;
}

.more {
    display: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -10px;
    visibility: hidden
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slidesWrapper4x3 {
	position: relative;
	padding-bottom: 70.5%; /* 4:3-ish */
	padding-top: 25px;
	height: 0;
}
.slidesWrapper4x3 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

pre.highlight {
	background-color: #d1e3fe;
	border-width: 1px;
	border-style: solid;
	border-color: #a4c8fc;
}
