---
layout: page
---

{% capture more_text 
   %}{{ page.content | remove: page.excerpt }}{% endcapture %}

<div class="post-preview">
  <div class="excerpt">
    <p>{{ page.excerpt }}</p>
  </div>
  <div class="more">
    <p>{{ more_text }}</p>
  </div>

  {% unless more_text.size == 0 %}
  <a href="#" class="toggle_more">Show more</a>
  {% endunless %}
  
</div>

<!-- next we find any talks or papers on this topic -->

<h3>Blog posts on this topic:</h3>

{% unless site.categories[page.category].size > 0 %}
<p>No posts in {{ page.category }} at this time.</p>
{% endunless %}

<ul>
{% for post in site.categories[page.category] %}
  <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
      </a></li>
{% endfor %}
</ul>
